@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-sarif;
    overflow-x: hidden;
}

header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #f4f8fb;
    display: flex;
    margin-left: 20px;
}

header aside{
    width: 15%;
    height: 100%;
    background: #fff;
    padding: 15px 0px 15 px 30px;
}

header section{
    position: relative;
    width: 85%;
    height: 100%;
    /* border: 2px solid black; */
}

header aside .logo{
    padding: 15px 0px 15 px 30px;
    font-size: 40px;
    color: #000;
}
header aside ul{
    list-style-type: none;
    margin-top: 50px;
}
header aside ul li{
    padding: 10px 0px;
    margin-top: 10px;
}
header aside ul li a{
    text-decoration: none;
    color: rgb(0,0,0,0.5);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: 0.3s linear;
}
header aside ul li a:hover{
    color: #1ca1f1;
}
header aside ul li a i{
    margin-right: 10px;
    font-size: 20px;
}
/* active clas list item */
header aside ul .li_active{
    border-right: 3px solid #1ca1f1;
}
header aside ul .li_active a{
    color: #1ca1f1;
}
header aside button{
    margin-top: 40px;
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
    background: #1ca1f1;
    transition: 0.3s linear;
    cursor: pointer;
}
header aside button:hover{
    background: rgb(20, 161, 241, 0.5); 
}

header section nav{
    width: 100%;
    height: 8%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header section nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
header section nav ul li {
    padding: 3px 25px 3px 0px;
}
header section nav ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    transition: 0.3s linear;
}
header section nav ul li a:hover{
    color: grey;
}
header section nav .search_bar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f8fb;
    padding: 0px 15px;
    border-radius: 5px;
}
header section nav .search_bar input{
    width: 90%; 
    padding: 3px 15px;
    border: none;
    outline: none;
    font-size: 12px;
    background: none;
}
header section nav .search_bar .bi{
    font-size: 14px;
}
header section nav .user{
    display: flex;
    align-items: center;
}
header section nav .user h6{
    margin-right: 10px;
    font-size: 12px;
    color: #000;
}
header section nav .user img{
    margin-right: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
header section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    background: url(img/bg1.png)no-repeat center center/cover;
    top: 8%;
    border-radius: 0px 0px 20px 0px;
    opacity: 0.9;
}

header section .profile_post_follow_bx{
    position: relative;
    top: 10%;
    width: 100%;
    height: 73%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;  
}
header section .profile_post_follow_bx .profile_bx{
    width: 250px;
    height: auto;
    /* border: 1px solid #000; */
}
header section .profile_post_follow_bx .profile_bx .profile_card{
    position: relative;
    width: 100%;
    height: 250px;
    background: #fff;
    padding: 0.01px 10px 0px 10px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header section .profile_post_follow_bx .profile_bx .profile_card .blue_tick_pc{
     position: relative;
     top: 10px;
     left: 10px;
     width: 15px;
}
header section .profile_post_follow_bx .profile_bx .profile_card .profile_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
header section .profile_post_follow_bx .profile_bx .profile_card h5{
    font-weight: 700;
    margin-top: 10px;
}
header section .profile_post_follow_bx .profile_bx .profile_card h6{
    color: rgb(0, 0, 0, 0.3);
    font-size: 15px;
    padding: 2px 0px;
}
header section .profile_post_follow_bx .profile_bx .profile_card address{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
header section .profile_post_follow_bx .profile_bx .profile_card address a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
}
header section .profile_post_follow_bx .profile_bx .profile_card address a:nth-child(2){
    margin-left: 10px;
}
header section .profile_post_follow_bx .profile_bx .profile_card p{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    padding: 0px 5px;
    color: rgb(0, 0, 0, 0.8);
}
header section .profile_post_follow_bx .profile_bx .profile_card .data{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 90px;
}
header section .profile_post_follow_bx .profile_bx .profile_card .data ,data_card{
    width: 33.33%;
}
header section .profile_post_follow_bx .profile_bx .profile_card .data .data_card:nth-child(2){
    border-left: 1px solid rgb(0, 0, 0, 0.1);
    border-right: 1px solid rgb(0, 0, 0, 0.1);
}
header section .profile_post_follow_bx .profile_bx .profile_card .data .data_card p,h4{
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
    margin-right:10px ;
    color: rgb(0,0,0,0.4);
}
header section .profile_post_follow_bx .profile_bx .profile_card .data .data_card h4{
    font-size: 14px;
    padding: 3px 0px 7px 0px;
    color: #000;
}

header section .profile_post_follow_bx .profile_bx .activity_bx{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid #000; */
    margin-top: 10px;
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx{
    width: 115px;
    height: 90px;
    border: 2px solid rgb(213, 218, 222, 0.5);
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s linear;
    cursor: pointer;
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx:nth-child(1){
    background: #fff;
    box-shadow: 0px 0px 20px rgb(0,0,0,0.1);
    border: 1px solid #fff;

}
header section .profile_post_follow_bx .profile_bx .activity_card_bx i,h6{
   font-size: 11px;
   color: #d5dade;
   padding-top: 10px;
   transition: 0.3s linear; 
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx h6{
    color: rgb(0, 0, 0, 0.6);
    font-size: 11px;
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx h6:hover{
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 20px rgb(0,0,0,0.1);
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx:hover h6{
    color: #1ca1f1;
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx:hover i{
    color: #1ca1f1;
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx:nth-child(1) h6 {
    color: #1ca1f1;
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx:nth-child(1) i{
    color: #1ca1f1;
}

header section .profile_post_follow_bx .post_follow_bx{
    width: auto;
    height: auto;
    /* border: 1px solid #000; */
    margin-left: 20px;
    display: flex;
    /* font-size: 50px; */
}
header section .profile_post_follow_bx .post_follow_bx .post {
    width: 550px;
    height: 100%;
    background: #fff;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.1);
    border-radius: 8px;
}
header section .profile_post_follow_bx .post_follow_bx .post  nav ul li a{
    font-size: 18px;
}
header section .profile_post_follow_bx .post_follow_bx .follow_bx{
    width: 250px;
    height: auto;
    margin-left: 15px;
    border: 1px solid #000;
}
header section .profile_post_follow_bx .post_follow_bx .post nav{
    border-radius: 8px 8px 0px 0px;
    height: 10%;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    /* margin-left: -7px; */
}
header section .profile_post_follow_bx .post_follow_bx .post nav li{
    border-bottom: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0px;
    margin-right: 10px;
    transition: 0.3s linear;
}
header section .profile_post_follow_bx .post_follow_bx .post nav li:hover{
    border-bottom: 3px solid #1ca1f1;
}
header section .profile_post_follow_bx .post_follow_bx .post nav li a{
    padding: 12px 10px;
    /* text-align: center; */
}
header section .profile_post_follow_bx .post_follow_bx .post nav li a:hover{
    color: #1ca1f1;
}
header section .profile_post_follow_bx .post_follow_bx .post nav i{
    color: rgb(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.3s linear;
}
header section .profile_post_follow_bx .post_follow_bx .post nav i:hover{
    color: rgb(0, 0, 0);
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx{
    width: 100%;
    height: 90%;
    /* border: 1px solid #000; */
    overflow: auto;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx::-webkit-scrollbar{
    width: 5px;
    background: rgb(0, 0, 0, 0.1);
    border-radius: 20px;
    visibility: hidden;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    visibility: hidden;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx:hover::-webkit-scrollbar{
    visibility: visible;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .home_page_first_bx{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 12px 15px 0px 15px;
    display: flex;   
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .home_page_first_bx .home_profile_pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .home_page_first_bx .write_tweet_bx{
    position: relative;
    width: 90%;
    height: auto;
    /* border: 1px solid #000; */
    padding: 10px;
    margin-left: 10px;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .home_page_first_bx .write_tweet_bx button{
    padding: 3px 10px;
    border-radius: 20px;
    border: 1px solid rgb(28, 161, 241, 0.6);
    background: none;
    outline: none;
    margin-left: 10px;
    text-align: center;
    color: #1ca1f1;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .home_page_first_bx .write_tweet_bx .show_bx{
    width: 200px;
    height: auto;
    padding: 12px;
    background: #fff;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 10px;
    display: none;
    /* top: 30px; */
    left: 0px;
    z-index: 9999999999999999999;
}
/* javascript class */
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .home_page_first_bx .write_tweet_bx .show_bx_active{
    display: unset;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .home_page_first_bx .write_tweet_bx .show_bx p{
    font-size: 12px;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .home_page_first_bx .write_tweet_bx .show_bx h6{
    padding: 0;
    font-size: 15px;
    color: #000;
}

.home_page_first_bx .write_tweet_bx .show_bx li{
    list-style: none;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 5px 0px 5px 8px;
    margin-left: 15px;
    /* margin-bottom: 15px; */
    /* margin-top: 8px; */
    cursor: pointer;
}
.home_page_first_bx .write_tweet_bx .show_bx li .who_reply{
    margin-left: -150px;
    margin-bottom: 10px;
}
.show_bx .who_reply
.home_page_first_bx .write_tweet_bx .show_bx li:nth-child(2){
    margin-top: 12px;
}
.home_page_first_bx .write_tweet_bx .show_bx li i:nth-child(2){
    /* padding: 5px;
    font-size: 13px;*/
    margin-right: 20px;
    color: #fff;
    font-size: 13px;
    z-index: 2;
    margin-left:-15px;
}
.show_bx i{
    color: #fff
}
.home_page_first_bx .write_tweet_bx .show_bx li i:nth-child(1){
    margin-right: 10px;
    /* z-index: 2; */
    font-size: 13px;
    color: #fff;
}
.home_page_first_bx .write_tweet_bx .show_bx li i:nth-child(0){
    margin-right: 10px;
}
.home_page_first_bx .write_tweet_bx .show_bx li::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #1ca1f1;
    border-radius: 50%;
    left: 9px;
    /* z-index: 1; */
}
.show_bx .who_can_reply_bx li .who_can_reply i{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #1ca1f1;
    border-radius: 50%;
    left: 9px;
}
.home_page_first_bx .write_tweet_bx .show_bx li h6{
    font-size: 13px;
}
.home_page_first_bx .write_tweet_bx .show_bx li span{
    font-size: 15px;
}
.home_page_first_bx .write_tweet_bx .show_bx li button{
    font-size: 8px;
}
.home_page_first_bx .write_tweet_bx .show_bx li div:nth-child(1){
    display: flex;
    align-items: center;
}
.write_tweet_bx .show_bx i{
    margin-left: 150px;
}
.write_tweet_bx textarea{
    font-size: 18px;
    margin-top: 15px;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 0px;
    max-height: 200px;
    font-family: 'Poppins' sans-serif;
}
.write_tweet_bx .select_reply_btn{
    border: none;
    padding: 0;
}
.write_tweet_bx .who_can_reply_bx{
    width: 250px;
    top: 62%;
    /* position: absolute; */
}

.write_tweet_bx .who_can_reply_bx p{
    font-size: 10px;
}
.write_tweet_bx .attach_media{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    margin-top: 10px;
}
.write_tweet_bx .attach_media .select_media{
    display: flex;
    align-items: center;
}
.attach_media .select_media .media_card{
    width: 20px;
    height: 20px;
    /* border: 1px solid #1ca1f1; */
    margin-right: 8px;
    color: rgb(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.attach_media .select_media .media_card input{
    position: absolute;
    /* top: 0; */
    left: 0;
    z-index: 9999999;
    opacity: 0;
}
.attach_media .tweet_letter_count{
    display: flex;
    align-items: center;
}
.attach_media .tweet_letter_count h6{
    padding: 0;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.8);
    margin-right: 10px;
}
.attach_media .tweet_letter_count #tweet_post{
    background: rgb(28, 160, 242, .5);
    border: none;
    color: #fff;
    font-size: 15px;
    transition: 0.3s linear;
    padding: 6px 15px ;
}
.attach_media .tweet_letter_count #tweet_post:hover{
    background: rgb(28, 160, 242);
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 12px 15px 0px 15px;
    display: flex;   
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .post_profile{
    width: 10%;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .post_profile img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content{
    width: 90%;
    border: 2px solid rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0px 10px;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .retweet{
    color: rgb(0, 0, 0, 0.3);
    font-size: 11px;
    display: flex;
    align-items: center;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .retweet i{
    font-size: 10px;
    margin-right: 5px;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .user_name_time{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .user_name_time h5{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .user_name_time h5 img{
   width: 15px;
   margin-left: 10px;
}
header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .user_name_time h5 p{
    font-size: 15px;
    /* color: rgba(150, 141, 141, 0.712); */
    margin-left: 10px;
 }
 .user_name_time p{
    font-size: 15px;
    color: rgb(0, 0, 0, 0.4);
 }
 header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .user_name_time h6{
    color: #000;
    font-size: 10px;
    font-weight: 600;
 }
 header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .user_name_time h6 i{
    font-size: 12px;
    margin-right: 3px;
 }
 header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content h3{
    font-size: 11px;
    font-weight: 500;
    word-break: break-all;
    margin-top: 10px;
 }
 header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .retweet_content_bx{
    width: 100%;
    height: auto;
    padding: 5px 10px;
    border: 2px solid rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 10px;
 }
 header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .retweet_content_bx .user_name_time h5 img:nth-child(1){
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
 }
 header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .tweet_card_social_data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
 }
 header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content  .tweet_card_social_data .tweet_social_card{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
 }
 header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .tweet_card_social_data .tweet_social_card:nth-child(2){
    border-left: 1px solid rgb(0, 0, 0, 0.1) ;
    border-right: 1px solid rgb(0, 0, 0, 0.1);
 }
 header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .tweet_card_social_data .tweet_social_card:nth-child(3){
    border-right: 1px solid rgb(0, 0, 0, 0.1);
 }
 header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .tweet_card_social_data .tweet_social_card i{
    color: rgb(0, 0, 0, 0.2);
    margin-right: 5px;
    font-size: 14px
 }
 header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .tweet_card_social_data .tweet_social_card span{
    font-size: 13px;
    font-weight: 500;
 }
 header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .tweet_card_social_data .tweet_social_card:nth-child(3) i{
    color: red;
 }

 header section .profile_post_follow_bx .post_follow_bx .post .post_main_bx .post_card_bx .content .image_post_bx{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
 }
 .image_post_bx img{
    border-radius: 5px;
    margin-right: 5px;
 }
.follow_bx .trend_for_you{
    margin-left: 20px;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.1);
    border-radius: 5px;
 }
 .follow_bx .trend_for_you nav{ 
    width: 100%;
    height: auto;
    padding: 12px 15px;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
 }
  .follow_bx .trend_for_you nav h6{
    font-size: 18px;
    color: #000;
    padding: 0;
 }
 .follow_bx .trend_for_you .trend_bx{
    width: 100%;
    height: auto;
    padding: 15px 15px 0px 15px;
 }
.follow_bx .trend_for_you .trend_bx li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
 }
 .follow_bx .trend_for_you .trend_bx li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #000;
 }
 .follow_bx .trend_for_you .trend_bx li a p{
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    color: rgb(0, 0, 0, 0.4);
 }
.follow_bx .trend_for_you .trend_bx li i{
    font-size: 12px;
 }
 .follow_bx .trend_for_you .trend_bx .rate button{
    border: none;
    outline: none;
    background: none;
    margin-right: 5px;
    color: rgb(0, 0, 0, 0.6);
    transition: 0.3s linear;
    cursor: pointer;
 }
 .follow_bx .trend_for_you .trend_bx .rate button:hover{
    color: rgb(0, 0, 0);
 }
 .follow_bx .trend_for_you .trend_bx .rate button i{
    margin-right: 5px;
 }
 .follow_bx .trend_for_you .trend_bx .rate .interest{
    height: 0;
    overflow: hidden;
 }
 .follow_bx .trend_for_you button{
    width: 100%;
    border: none;
    outline: none;
    color: rgb(0, 0, 0, 0.4);
    background: none;
    padding: 10px 0px;
    transition: 0.3s linear;
    cursor: pointer;
 }
 .follow_bx .trend_for_you .trend_bx .see_more{
    color: #000;
 }
 .follow_bx .you_should_follow{
    margin-top: 15px;
 }
 .follow_bx .you_should_follow .follow_bx{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 15px 0px 15px;
 }
 .follow_bx .you_should_follow .follow_bx .follow_profile_name{
    display: flex;
    align-items: center;
    margin-top: 10px;
 }
.follow_bx .you_should_follow .follow_bx .follow_profile_name img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
 }
 .follow_bx .you_should_follow .follow_bx .follow_profile_name .user_name{
    margin-left: 10px;
 }
 .follow_bx .you_should_follow .follow_bx .follow_profile_name .user_name .user_name_follow{
    color: #000;
    display: flex;
    align-items: center;
 }
 .follow_bx .you_should_follow .follow_bx .follow_profile_name .user_name .user_name_follow h6{
    color: #000;
    padding: 0;
    width: 50%;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
  .follow_bx .you_should_follow .follow_bx .follow_profile_name .user_name .user_name_follow img{
    width: 15px;
    height: 15px;
 }
 .follow_bx .you_should_follow .follow_bx .follow_profile_name .user_name .user_name_follow p{
    font-size: 11px;
    color: rgb(0, 0, 0, 0.4);
    font-weight: 600;
 }
  .you_should_follow .follow_bx button{
    border: none;
    outline: none;
    padding: 8px 12px;
    background: #1ca1f1;
    color: #fff;
    border-radius: 20px;
    font-size: 10px;
    transition: 0.3s linear;
 }
   .you_should_follow .follow_bx button:hover{
    background: rgb(28, 161, 241, 0.5);
 }
   .you_should_follow .see_more{
    width: 100%;
    border: none;
    outline: none;
    color: rgb(0, 0, 0, 0.4);
    background: none;
    padding: 10px 0px;
    transition: 0.3s linear;
    cursor: pointer;
 }
 .you_should_follow .see_more:hover{
    color: #000;
 }
